<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php 7" />
            <add name="php 7" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\web\php\php-7.0.14\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="1 param" enabled="false">
                    <match url="^([_0-9a-z-]+)(/([_0-9a-z-]+))?(/([_0-9a-z-]+))?(/([_0-9a-z-]+))?" />
                    <action type="Rewrite" url="?param1={R:1}&amp;param2={R:3}&amp;param3={R:5}&amp;param4={R:7}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
