<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="1 param">
                    <match url="^([_0-9a-z-]+)(/([_0-9a-z-]+))?(/([_0-9a-z-]+))?(/([_0-9a-z-]+))?" />
                    <action type="Rewrite" url="?param1={R:1}&amp;param2={R:3}&amp;param3={R:5}&amp;param4={R:7}" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
